BOT_NAME=RAHL XMD
PREFIX=.
OWNER_NAME=LORD RAHL
OWNER_NUMBER=254112399557

SESSION_ID=

MONGODB_URI=

PORT=3000

OPENAI_API_KEY=

GEMINI_API_KEY=

FOOTER=👑 Powered By LORD RAHL

LOG_LEVEL=info

DASHBOARD_PASSWORD=rahlxmd2024
